{% extends "loads/base_automatic.html" %} {% block content %}

{% load static %}

<section class="py-5">
	<div class="container">
		<div class="row align-items-center gx-4">
			<div class="col-md-5">
				<div class="ms-md-2 ms-lg-5"><img class="img-fluid rounded-3" src="{% static 'logos/WAM_logo.png' %}" alt="WAM logo"></div>
			</div>
			<div class="col-md-6 offset-md-1">
				<div class="ms-md-2 ms-lg-5">
					<span class="text-muted">WAM {{ wam_version }}</span>
					<h2 class="display-5 fw-bold">About</h2>
					<p class="lead">
                        WAM is a Workload and Assessment Modelling tool for Higher Education.
                        It began life in 2015 as part of an Athena Swan action plan to improve fairness and transparency
                        of workload allocation in the School of Engineering in Ulster University, but grew to
                        comprehensively handle Assessment Approval workflows including External Examiners.
                    </p>
					<p class="lead mb-0">
                        WAM was originally written by Professor Colin Turner, joined in 2025 by Joaquim Homrighausen.<br />

                        This application is available as Software as a Service, with agreed Service Level Agreements.
                        Please contact us for more details.
                    </p>
				</div>
			</div>
		</div>
	</div>
</section>

{% endblock content %}