{% include "loads/header.html" %}

<h1>Activity breakdown for {{staff}} <a href="{% url 'staff_module_allocation' package.id staff.id %}">(Edit)</a></h1>  

<p>Selected Work Package : {{package}}</p>

{% if package.draft %}
<h1>This is a DRAFT allocation and may be incomplete.</h1>
{% endif %}  

<h2>Custom Activities</h2>
{% if combined_list %}
    <table border="1">
      <tr>
        <th width="50%">Activity Name</th><th width="10%">First Semester</th><th width="10%">Second Semester</th><th width="10%">Third Semester</th><th width="10%">Total</th>
      </tr>
      {% for activity, total, first, second, third in combined_list %}
      <tr class="{% cycle 'row1' 'row2' %}">
        <th>{{ activity }}</th>
        <td>{{ first|stringformat:".2f" }}</td>
        <td>{{ second|stringformat:".2f" }}</td>
        <td>{{ third|stringformat:".2f" }}</td>
        <td>{{ total }}</td>
      </tr>      
      {% endfor %}
    </table>
    

{% else %}
    <p>No activities are available for {{ staff }}.</p>
{% endif %}

<h2>Activities Automatically Added From Modules</h2>
{% if combined_list_modules %}
    <table border="1">
      <tr>
        <th width="50%">Activity Name</th><th width="10%">First Semester</th><th width="10%">Second Semester</th><th width="10%">Third Semester</th><th width="10%">Total</th>
      </tr>
      {% for activity, total, first, second, third in combined_list_modules %}
      <tr class="{% cycle 'row1' 'row2' %}">
        <th>{{ activity }}</th>
        <td>{{ first|stringformat:".2f" }}</td>
        <td>{{ second|stringformat:".2f" }}</td>
        <td>{{ third|stringformat:".2f" }}</td>
        <td>{{ total|stringformat:".2f" }}</td>
      </tr>      
      {% endfor %}
    </table>
{% else %}
    <p>No module activities are available for {{ staff }}.</p>
{% endif %}

<h2>Totals</h2>
    <table border="1">
      <tr>
        <th width="50%"></th><th width="10%">First Semester</th><th width="10%">Second Semester</th><th width="10%">Third Semester</th><th width="10%">Total</th>
      </tr>
      <tr class='row1'>
        <th>Totals</th>
        <th>{{ semester1_total|stringformat:".2f" }}</th>
        <th>{{ semester2_total|stringformat:".2f" }}</th>
        <th>{{ semester3_total|stringformat:".2f" }}</th>
        <th>{{ total|stringformat:".2f" }}</th>        
      </tr>
    </table>


{% include "loads/footer.html" %}