{% extends 'loads/base.html' %}

{% block menu %}

{% load static %}
{% load tags %}
{% load tz %}

{% url 'external_index' as index %}
{% url 'external_modules_index' semesters="" as external_modules_index %}
{% url 'tasks_index' as tasks_index %}
{% url 'programmes_index' as programmes_index %}

{# Create top-level menus, and possibly some dropdowns #}
<nav class="navbar navbar-expand-lg fixed-top text-body bg-body-secondary opacity-100" style="height:80px" id="menuTopWAM">
    <div class="container-fluid p-1">
        <button class="navbar-toggler ms-2 me-2"
                type="button"
                data-bs-toggle="offcanvas"
                data-bs-target="#navbarWAM"
                aria-controls="navbarWAM" aria-expanded="false"
                aria-label="Toggle navigation"
                title="Navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <a class="navbar-brand float-start" href="{% url 'index' %}external/">
            {# TODO: We need to make this logo, and link, customizable #}
            {# The max-height should, however, remain as to not disrupt the layout, etc #}
            <img src="{% static 'logos/WAM_logo.png' %}"
                 style="max-height: 48px" title="Workload and Assessment Modeller" alt="WAM" />
        </a>
        <div class="offcanvas offcanvas-start" id="navbarWAM" tabindex="-1">
            {# I'm guessing these can be dynamically generated based on which modules are active, etc #}
            {# TODO: We should add 'aria-current="page"' on the active menu choice                    #}
            <div class="offcanvas-header text-start justify-content-between">
                    <button type="button" class="btn btn-close ms-0" data-bs-dismiss="offcanvas" aria-label="Close"></button>
                    <h5 class="offcanvas-title me-0" id="offcanvasNavbarLabel">Menu</h5>
            </div>
            <div class="offcanvas-body">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0 small">
                <li class="nav-item">
                    <a class="nav-link{%if home_page %} active{% endif %}"
                       {%if home_page %}aria-current="page"{% endif %} href="{% url 'external_index' %}"
                       title="click to access section: Home">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link {% active request tasks_index %}" href="{% url 'tasks_index' %}"
                       title="click to access section: Tasks">Tasks</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-decoration-none {% active request external_modules_index %}" href="{% url 'external_modules_index' semesters="" %}"
                       title="click to access section: Modules">Modules</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-decoration-none {% active request programmes_index %}" href="{% url 'programmes_index' %}"
                       title="click to access section: Programmes">Programmes</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-decoration-none {% active request generators_index %}" href="https://github.com/profcturner/WAM/wiki"
                       target="_blank" title="click to access section: Help">Help</a>
                </li>
                {% if not request.meta.remote_user %}
                <li class="nav-item">
                    <form id="wam-logout" method="post" action="{% url 'external_logout' %}">
                    {% csrf_token %}
                        <button type="submit" class="nav-link text-decoration-none" title="Click here to log out">
                            Logout
                        </button>
                    </form>
                </li>
                {% endif %}
            </ul>
            </div>
        </div>
    </div>
</nav>

{% endblock %}