{% load staticfiles %}

<link rel="stylesheet" type="text/css" href="http://cdn.ulster.ac.uk/home/ulster-frontend/css/microsites-branding-shared.css" />
<link rel="stylesheet" type="text/css" href="http://cdn.ulster.ac.uk/home/ulster-frontend/css/microsites-footer-shared.css" />
<link rel="stylesheet" type="text/css" href="{% static 'loads/default.css' %}" />
<title>Workload Modelling</title>
    
<div id="header">
<!--[if lte IE 8]>
      <a class="brand-only" href="http://www.ulster.ac.uk" tabindex="1"><img src="//cdn.ulster.ac.uk/home/ulster-frontend/img/microsites/ulster-university-logo.png" alt="Ulster University">Ulster University <span>Workload Modelling</span></a>
<![endif]-->
<!--[if gte IE 9]><!-->
  <a class="brand-only ulster-university" href="http://www.ulster.ac.uk" tabindex="1">Ulster University Ulster University <span>Workload Modelling</span></a>
<!--<![endif]-->
</div>

  