{% load staticfiles %}

<link rel="stylesheet" type="text/css" href="http://cdn.ulster.ac.uk/home/ulster-frontend/css/microsites-branding-shared.css" />
<link rel="stylesheet" type="text/css" href="http://cdn.ulster.ac.uk/home/ulster-frontend/css/microsites-footer-shared.css" />
<link rel="stylesheet" type="text/css" href="{% static 'loads/microsites-footer-shared.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'loads/default.css' %}" />
<title>Workload Modelling</title>
    
<div id="header">
  <div id="institution_logo"><img src="//cdn.ulster.ac.uk/home/ulster-frontend/img/microsites/ulster-university-logo.png" height="62px" title="Institution Logo"/><span>Workload Modelling</span></div>
{% load tags %}
{% load tz %}

{% url 'index' as index %}
{% url 'loads' as loads %}
{% url 'tasks_index' as tasks_index %}
{% url 'modules_index' as modules_index %}
{% url 'projects_index' as projects_index %}
{% url 'generators_index' as generators_index %}


<div id="menu">
  <ul>
    <li class="menutop home">
      <a title="click to access section: Home" class="{%if home_page %}active{% endif %}first" href="{% url 'index' %}">Home</a>
    </li>
		<li class="menutop">
      <a title="click to access section: Loads" class="{% active request loads %}" href="{% url 'loads' %}">Loads</a>
    </li>
		<li class="menutop">
      <a title="click to access section: Tasks" class="{% active request tasks_index %}" href="{% url 'tasks_index' %}">Tasks</a>
    </li>
		<li class="menutop">
      <a title="click to access section: Modules" class="{% active request modules_index %}" href="{% url 'modules_index' semesters="" %}">Modules</a>
    </li>
		<li class="menutop">
      <a title="click to access section: Projects" class="{% active request projects_index %}" href="{% url 'projects_index' %}">Projects</a>
    </li>
		<li class="menutop">
      <a title="click to access section: Generators" class="{% active request generators_index %}" href="{% url 'generators_index' %}">Generators</a>
    </li>
	</ul>
</div>

<div id="submenu">
  <ul>
    {% if loads_menu %} 
    <li><a href="{% url 'loads' %}">Loads By Staff</a></li>
    <li><a href="{% url 'loads_modules' semesters='' %}">Loads By Modules</a></li>
    {% endif %}
	</ul>
</div>	

</div>

{% if messages %}
<div id="messages">
    {% for message in messages %}
        <p>{{ message }}</p>
    {% endfor %}
</div>
{% endif %}



<div id="content_block">

<br />
   


  