{% extends "loads/base_automatic.html" %} {% block content %}
  
<h2 class="my-3">Welcome!</h2>

<p>
    Welcome to the (prototype) tool for modelling allocation of workload for
    staff, and task tracker.
</p>

<p>
    Most of the functionality is in the Admin interface, for which you may need
    your username and password, and where you may have rather limited access
    depending on your user type.
</p>

<p>
    Please report issues to <a class="link-opacity-50-hover link-underline-opacity-50 link-offset-2" href="mailto:c.turner@ulster.ac.uk">
        c.turner@ulster.ac.uk
    </a>
</p>

{% endblock content %}