{% extends "loads/base_automatic.html" %} {% block content %}

{% load humanize %}

{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'loads/load_charts.css' %}" />

<p class="mb-4">
    Selected year:<br/>
    <span class="font-monospace fw-bold me-2">{{package}}</span> <a class="btn btn-secondary btn-sm wam-hide-on-print" href="{%url 'workpackage_change' %}">Change year</a>
</p>

<!-- Style Colours from WAM configuration -->
<style>
    {% for category in categories %}
    .bg-col{{ category.pk }} {
        background-color: {{ category.colour }};
    }
    {% endfor %}
</style>

{% if package.draft or package.in_the_future or package.in_the_past %}
<div class="border border-2 border-danger p-3 rounded-3 mb-4">
    <h6 class="fw-bold">!! Please note these exceptions <i class="fw-normal small wam-hide-on-print">(hover for more information)</i></h6>
    <div class="d-flex">
        {% if package.draft %}
        <div class="badge text-bg-danger me-2"
             title="This is a DRAFT allocation and may be incomplete.">Draft allocation</div>
        {% endif %}
        {% if package.in_the_past %}
        <div class="badge text-bg-danger me-2"
             title="The currently selected Work Package is in the Past! You probably want to change the year above.">Past work package</div>
        {% endif %}
        {% if package.in_the_future %}
        <div class="badge text-bg-danger me-2"
             title="The currently selected Work Package is in the Future">Future work package</div>
        {% endif %}
    </div>
</div>
{% endif %}

{% if group_data %}
    {% for group, group_list, group_total, group_average, group_allocated_staff, group_allocated_average in group_data %}
    <div class="container p-5 bg-body-secondary shadow-sm rounded printBreakWAM">
        <h3>
            {{group}}
        </h3>
        {% if group_list %}
        <div id="chart-container">
            {% for staff, loads_by_category, hours, bar_width, scaled_hours in group_list %}
            <!-- Start a row -->
            <div class="chart-row">
                <div class="chart-label"><a class="link-offset-2 link-underline link-underline-opacity-25" href="{% url 'activities' staff.id %}">{{ staff }}</a></div>
                <div class="progress-wrapper">
                    <div class="hundred-percent-marker"></div>
                    {% if show_90_110 %}
                    <div class="ninety-percent-marker"></div>
                    <div class="hundredten-percent-marker"></div>
                    {% endif %}
                    <div class="progress bg-body-tertiary" style="width: {{ bar_width }}%;">
                        {% for category, hours, percentage in loads_by_category %}
                        <!-- Start a Block -->
                        <div class="progress-bar bg-col{{ category.pk }}" role="progressbar" style="width: {{ percentage }}%">
                            <span class="font-monospace" data-toggle="tooltip" title="{{ category.abbreviation }}: {{ hours|floatformat:0 }} Hours, {{ percentage|floatformat:0 }}%">
                                {{ percentage|floatformat:0 }}%
                            </span>
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
        <div class="alert alert-info small">
            <strong>Legend:</strong> The red dashed line represents 100% capacity, taking into account staff FTE.
            {% if show_90_110 %}
                Grey dashed lines represent 90% and 100% capacity.
            {% endif %}
            Hovering on percentages shows underlying hours. Grey areas are unallocated. Over allocations past 125% are scaled down to fit.
            <div class="mt-3 small">Categories:
                <div class="mt-2 legend_wrapper">
                    {% for category in categories %}
                        <div class="legend_box bg-col{{ category.pk }}"></div>&nbsp;{{ category }}&nbsp;&nbsp;
                    {% endfor %}
                </div>
            </div>
        </div>
        <div class="mt-3">
            Total for all activities in this group is {{ group_total|stringformat:".0f"|intcomma }} person hours. <br/>
            Average per staff member is {{ group_average|stringformat:".0f"|intcomma }} hours (including unallocated staff). <br />
            Average per staff member is {{ group_allocated_average|stringformat:".0f"|intcomma }} hours (excluding unallocated staff). <br />
            There are {{ group_allocated_staff|apnumber }} staff in this group with allocations out of {{ group_list|length|apnumber }}.
        </div>
    </div>
    <br/>
    {% else %}
    <p>
        No allocations for this group at this time
    </p>
    {% endif %}
    {% endfor %}
    <h3 class="mt-4">
        Overall totals
    </h3>
    <p>
        {{ total_staff }} unique staff members are included in this data.<br />
        Total hours for all activities is {{ total|stringformat:".0f"|intcomma }} person hours.<br />
        Average hours by staff member, including unallocated staff, is {{ average|stringformat:".0f"|intcomma }} hours.
    </p>

{% else %}
    <p>
        No data for this work package at this time
    </p>
{% endif %}

{% endblock content %}