{% include "loads/header.html" %}

<p>Selected Work Package : {{package}} <a href="{%url 'workpackage_change' %}">(Change Package)</a></p>

{% if package.draft %}
<h1>This is a DRAFT allocation and may be incomplete.</h1>
{% endif %}  

{% if group_data %}
  {% for group, group_list, group_total, group_average, group_allocated_staff, group_allocated_average in group_data %}
  <h2>{{group}}</h2>
    {% if group_list %}
    <table border="1" width="90%" style="max-width: 900px;">
      <tr>
        <th  width="30%">Staff Name</th><th  width="8%">First Semester</th><th  width="8%">Second Semester</th><th  width="8%">Third Semester</th><th  width="8%">Total</th><th  width="8%">Scaled</th><th width="8%">Activities</th><th width="8%">Tasks</th>
      </tr>
      {% for staff, total, first, second, third, scaled in group_list %}
      <tr class="{% cycle 'row1' 'row2' %}">
        <th>{{ staff }}</th>
        <td>{{ first|stringformat:".2f" }}</td>
        <td>{{ second|stringformat:".2f" }}</td>
        <td>{{ third|stringformat:".2f" }}</td>
        <td>{{ total }}</td>
        <td>{{ scaled|stringformat:".0f" }}
        <td><a href="{% url 'activities' staff.id %}">Activities</a></td>
        <td><a href="{% url 'tasks_bystaff' staff.id %}">Tasks</a></td>
      </tr>      
      {% endfor %}
    </table>
    <p>
      Total hours for all activities in this group is {{ group_total }}, with 
      average hours per staff member is 
      {{ group_average|stringformat:".0f" }}, for allocated staff only the average hours per staff member is 
      {{ group_allocated_average|stringformat:".0f" }}.
    </p>
    {% else %}
    <p>No allocations for this group at this time.</p>
    {% endif %}
  {% endfor %}
  <h2>Overall Totals</h2>
  <p>
  Total hours for all activities is {{ total }}, average hours by staff member {{ average|stringformat:".0f" }}.
  </p>
  
{% else %}
  <p>No data for this work package at this time.</p>
{% endif %}



{% include "loads/footer.html" %}