{# This is the "empty" header for things like login forms, fatal errors, #}
{# and so on. It basically just makes sure we have a fixed size header   #}
{# that makes the content following it nice and tidy looking.            #}
{#                                                                       #}
{# This should NOT be used when the navigation menu is displayed!        #}

{% load static %}

<div class="container-fluid fixed-top text-body bg-body-secondary opacity-100 p-2 d-flex align-items-center justify-content-start" style="height:80px">
    <div>
        <a href="{% url 'index' %}">
            {# We need to make this logo, and link, customizable #}
            {# The max-height should, however, remain as to not disrupt the layout, etc #}
            <img src="{% static 'logos/WAM_logo.png' %}"
                 style="max-height: 48px" title="Workload and Assessment Modeller" alt="" />
        </a>
    </div>
    <div class="h4 mt-3 ms-2">
        <a class="text-decoration-none link-opacity-50-hover link-underline-opacity-50 link-offset-2" href="{% url 'index' %}">
            {# We need to make this text, and link, customizable #}
            Workload and Assessment Modeller
        </a>
    </div>
</div>
