{% extends "loads/base_automatic.html" %} {% block content %}

<h4>Details for programme {{ programme.programme_name }}</h4>

<div class="mt-4">
    <div class="row mb-2">
        <div class="col-12 col-md-3 fw-bold">
          Programme code
        </div>
        <div class="col-9 font-monospace">
            {{ programme.programme_code }}
        </div>
    </div>
    <div class="row mb-2">
        <div class="col-12 col-md-3 fw-bold">
            Programme name
        </div>
        <div class="col-9 font-monospace">
            {{ programme.programme_name }}
        </div>
    </div>
    <div class="row mb-2">
        <div class="col-12 col-md-3 fw-bold">
            Programme directors
        </div>
        <div class="col-9 font-monospace">
            {% for director in programme.directors.all %}
                {{ director }} (<a href="mailto:{{ director.user.email }}">{{ director.user.email }}</a>)<br />
            {% endfor %}
        </div>
    </div>
    <div class="row mb-2">
        <div class="col-12 col-md-3 fw-bold">
            External examiners
        </div>
        <div class="col-9 font-monospace">
            {% for examiner in programme.examiners.all %}
            {{ examiner }}<br />
            {% endfor %}
        </div>
    </div>
</div>


{% endblock content %}