{% extends "loads/base_automatic.html" %} {% block content %}

<h2>Create Staff User</h2>

<p>This form allows the creation of new Staff members. You should leave the password fields blank if your system
allows login of remote users. Ask your site admin if you are unsure. If you do not add the Staff member to groups
or a package then they will initially not be able to access any items.</p>

<form action="" method="post">
    <table>
        {% csrf_token %}
        {{ form.as_table }}
        <tr>
            <td>
                <input type="submit" value="Submit" />
            </td>
        </tr>

    </table>
</form>

{% endblock content %}