{% extends "loads/base_automatic.html" %} {% block content %}

<h2 class="my-3">Administration Index</h2>

<p>
    Certain administrative tasks can only be accomplished by trained users with appropriate permissions and access
    to the Advanced Administration section available in the footer. Some other important common tasks are available
    here.
</p>

<h3 class="mt-5">Actions</h3>

<ul class="wam-menu-list">
    <li>
        <a class="link-opacity-50-hover link-underline-opacity-50 link-offset-2" href="{%url 'create staff user' %}">
            Create new Staff user
        </a>
    </li>
    <li>
        <a class="link-opacity-50-hover link-underline-opacity-50 link-offset-2" href="{%url 'create external examiner' %}">
            Create new External Examiner user
        </a>
    </li>
    <li>
        <a class="link-opacity-50-hover link-underline-opacity-50 link-offset-2" href="{%url 'workpackage_migrate' %}">
            Migrate Work Package from one year to another
        </a>
    </li>
    <li>
        <a class="link-opacity-50-hover link-underline-opacity-50 link-offset-2" href="{%url 'assessmentstaff_index' %}">
            Configure Assessment Team members
        </a>
    </li>
</ul>

{% endblock content %}
