/* GENERIC CSS ELEMENTS *****************************/
html {
  padding: 0px 0px 0px 0px;
  margin: 0px 0px 0px 0px;

}

body {
  font-family: Arial, sans-serif;
  font-size:10pt;
  color:#000000;
  background-color:#ffffff;
  padding: 0px 0px 0px 0px;
  margin: 0px 0px 0px 0px;
  border: 0px #ccc solid;

}

a:link {
  text-decoration: none; color : #338;
}

a:active {
  text-decoration: none; color : #338;
}

a:visited {
  text-decoration: none; color : #338;
}

a:hover {
  text-decoration: underline; color : #338;
}


#error_message{
  padding:0.5em;
  border: 1px red dotted;
  margin: 0.2em;
  background:#ffdddd;
  color:#990000;
}



#content_block 
{
  width:90%;
  margin-left:50px;
  margin-right:50px;
  clear:left;
  /*background-color: #f7f7f7;*/
  border: 0px #f7f7f7 solid;
  min-height:400px;
  display:block;
  float:left;
}

.content_block 
{
  width:90%;
  padding-left:50px;
  padding-right:50px;
  clear:left;
  background-color: #f7f7f7;
  border: 0px #f7f7f7 solid;
  min-height:500px;
  display:block;
  float:left;
}



#app_title
{
  margin-top: 0.8em;
  margin-left: 53px;
  margin-bottom: 0.3em;
  float:left;
  font-weight:bold;
  font-size:larger;
}

#app_tagline
{
  float:left;
  font-size:0.8em;
  font-weight: bold;
  /*padding-left:0.3em;*/
  color: #ffffff;
  float:right;
  margin-bottom:0.3em;
  margin-right:53px;
  margin-top:0.5em;
}

#app_logo
{
  margin-top: 0.5em;
  margin-right: 53px;
  margin-bottom: 0.3em;
  float:right;
  font-weight:bold;
  font-size:larger;
}
	

#header 
{
  background-color: #f4f4f4;
  height: 110px;
  padding-left: 20px;
  padding-top: 20px;
  margin-bottom: 20px;
}

#page_title {
  clear: left;
  text-align: left;
  padding-left: 1em;
  line-height: 2em;
  background-color: #ffffff;
  color: #000000;
  background-repeat: no-repeat;
  background-position: top left;
  min-height: 2em;
  height: 2em;
  font-size: 14px;
  font-weight: bold;
}

/* TABLES */

table {
    border-collapse: collapse;
    border-color: #ccc;
}

td, th {
    font-size: 11px;
    line-height: 13px;
    border-bottom: 1px solid #eee;
    vertical-align: top;
    padding: 5px;
    font-family: "Lucida Grande", Verdana, Arial, sans-serif;
}

th {
    text-align: left;
    font-size: 12px;
    font-weight: bold;
}

thead th,
tfoot td {
    color: #666;
    padding: 2px 5px;
    font-size: 11px;
    background: #e1e1e1 url(../img/nav-bg.gif) top left repeat-x;
    border-left: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
}

tfoot td {
    border-bottom: none;
    border-top: 1px solid #ddd;
}

thead th:first-child,
tfoot td:first-child {
    border-left: none !important;
}

thead th.optional {
    font-weight: normal !important;
}

fieldset table {
    border-right: 1px solid #eee;
}

tr.row-label td {
    font-size: 9px;
    padding-top: 2px;
    padding-bottom: 0;
    border-bottom: none;
    color: #666;
    margin-top: -1px;
}

tr.alt {
    background: #f6f6f6;
}

.row1 {
    background: #EDF3FE;
}

.row2 {
    background: #fff;
}

#menu {
width: 1400px;
clear:both;

}

#menu ul {
list-style: none;
margin:0;
padding: 0;
width: 100%;
clear:both;
margin-left: 53px;
}

#menu li {
float:left;
}

#menu li.home
{
  /*border-left-width: 53px;*/
  border-left-style: solid;
  border-left-color: transparent;
}

/* style, color and size links and headings to suit */
#menu a {
font: bold 1.0em arial, sans-serif;
display: block;
height: 26px;
margin-top: 10px;
  padding-left: 10px;
  padding-right: 10px;
  padding-top:10px;
  padding-bottom:2px;
color: #ffffff;
background: #346fbd;
text-decoration: none;
}

#menu a.welcome {
font: bold 1.0em arial, sans-serif;
display: block;
height: 26px;
  padding-left: 10px;
  padding-right: 11px;
  padding-top:10px;
  padding-bottom:2px;
color: #ffffff;
background: #346fbd;
text-decoration: none;

}

#menu a.first 
{
	font: bold 1.0em arial, sans-serif;
	display: block;
	height: 26px;
	margin-top: 10px;
	padding-left: 10px;
	padding-right: 10px;
	padding-top:10px;
	padding-bottom:2px;
	color: #ffffff;
	background: #346fbd;
	text-decoration: none;
}



#menu li.right {
  float:right;
}

#menu li.logout {
  float:right;
  padding-right: 20px;
  background-color:transparent;
}

#menu a.logout {
  color:#cc5555;
  border-width: 0px 0px 0px 0px;
  border-color: #dddddd;
  font-weight:bold;
  background-color:transparent;
}
#menu a:hover {
  color:#ffffff;
  background: #3780e6;

}

#menu a.logout:hover {
  text-decoration: underline;
  border-left-width: 0px;
  font-weight:bold;
  background-color:transparent;

}
#menu a.active:hover {
  padding-left: 5px;
}

#menu a.active {
  color:#ffffff;
  background: #3780e6;
  border-left-width: 5px;
  border-left-style: solid;
  border-left-color: transparent;
  padding-left: 5px;
}

#menu a.activefirst
 {
  border-width: 0px 1px 0px 1px;
  color:#ffffff;
  background: #3780e6;
  border-left-width: 5px;
  border-left-style: solid;
  border-left-color: transparent;
  padding-left: 5px;
}
#menu a.activefirst:hover {
  padding-left: 5px;
}

#menu ul ul {
  width:auto;                /* sets the size of the menu blocks */
  /*border: 1px solid #000;*/      /* puts a black border around the menu blocks */
  background-color: #8aa;      /* makes the menu blocks mint green - a bg-color MUST be included for IE to work properly! */
  padding-left: 0px;           /* stops the usual indent from ul */
  cursor: default;             /* gives an arrow cursor */
  margin-left: 0px;            /* Opera 7 final's margin and margin-box model cause problems */
  opacity: 0.9;
}
#menu ul li {
  position: relative;
  opacity: 0.9;
  padding-right: 0.3em;
  border: none;          /* makes the menu blocks be positioned relative to their parent menu item
                                  the lack of offset makes these appear normal, but it will make a difference
                                  to the absolutely positioned child blocks */
}
#menu ul li > ul {          /* using the > selector prevents many lesser browsers (and IE - see below) hiding child ULs */
  display: none;               /* hides child menu blocks - one of the most important declarations */
  position: absolute;          /* make child blocks hover without leaving space for them */
  top: 1.3em;                    /* position slightly lower than the parent menu item */
  left: 0em;  
                  /* this must not be more than the width of the parent block, or the mouse will
                    			have to move off the element to move between blocks, and the menu will close */
  background:#3780e6;
  border:1px #ddd solid;
  margin-top:  17px;
  opacity: 0.9;
  
}
#menu ul li ul li {
  clear:left;
  width:100%;
  opacity: 0.9;
}

#menu ul li ul li a {
  border: 0px #fff solid;
  font-weight:bold;
  white-space:nowrap;
}
#menu ul ul {     /* must not be combined with the next rule or IE gets confused */
  display: block;              /* specially to go with the className changes in the behaviour file */
  opacity: 0.9;
}
#menu ul li:hover > ul {    /* one of the most important declarations - the browser must detect hovering over arbitrary elements
                                  the > targets only the child ul, not any child uls of that child ul */
  display: block;              /* makes the child block visible - one of the most important declarations */
}

/* Fixes for broken IE behaviour */
#menu ul li.CSStoHighlight {
  background-color: #fff;      /* gives the active menu items a yellow background */
  color: #000;                 /* makes the active menu item text black */
  z-index:100;
  display:block;
}

#menu ul ul.CSStoShow {     /* must not be combined with the next rule or IE gets confused */
  display: block;              /* specially to go with the className changes in the behaviour file */
  position:absolute;
  width:auto;
  background-color: #fff;
  border:1px #ddd solid;
}

#menu ul li a.CSStoHighLight { color: #000; }

#submenu {
width: auto;
background: #ffffff;
margin-right: 55px;

}

#submenu ul {
list-style: none;
margin: 0;
height:40px;
padding-left: 55px;
width: 100%;
float:left;
background-color: #3780e6;
}

#submenu li {
float:left;
}

/* style, color and size links and headings to suit */
#submenu a {
font: bold 0.9em arial, sans-serif;
display: block;
border-width: 0px;
margin: 0;
padding-left: 20px;
padding-right: 12px;
padding-top:12px;
color: #ffffff;
background: #3780e6;
text-decoration: none;
}

#submenu a:hover {
	text-decoration: underline;
}

#submenu a.current {
  color: #FF9900;
  font-style:italic;
  background: #3780e6;
  border-left-width: 5px;
  border-left-style: solid;
  border-left-color: transparent;
  padding-left: 5px;
}

#submenu form {
  margin-bottom:0px;
}


#navigation_history b {
  font-size: 1em;
}

#navigation_history {
  font-size: 1em;
}

#name {
  font-size: small;
  font-weight:bold;
  color: #333333;
  float: left;
}

#content_block 
{
  width:90%;
  margin-left:50px;
  margin-right:50px;
  clear:left;
  /*background-color: #f7f7f7;*/
  border: 0px #f7f7f7 solid;
  min-height:400px;
  display:block;
  float:left;
}



