{% extends "loads/base_automatic.html" %} {% block content %}

{% load staticfiles %}
<!-- Include formset plugin - including jQuery dependency -->
<script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
<script src="{% static 'loads/persist-headers.js' %}"></script>

<p>Selected Work Package : {{package}} <a href="{%url 'workpackage_change' %}">(Change Package)</a></p>

{% if package.draft %}
<h1>This is a DRAFT allocation and may be incomplete.</h1>
{% endif %}

{% if package.in_the_past %}
<h1><span style="color:red">Warning: The currently selected Work Package is in the Past.</span></h1>
{% endif %} 

{% if package.in_the_future %}
<h1><span style="color:red">Warning: The currently selected Work Package is in the Future.</span></h1>
{% endif %}  

<form action="" method="post">
    {% csrf_token %}
    {{ form }}
    <input type="submit" value="Submit" />
</form>    

<h2>Loads By Modules {% if valid_semesters %}(Restricted to those in Semester{{valid_semesters_length_plaralise}} {% for semester in valid_semesters %}{% if forloop.first %}{% else %}{% if forloop.last %} and {% else %}, {% endif %}{% endif %}{{semester}}{% endfor %}) {% endif %}</h2>
{% if combined_list %}
    <table border="1" class="persist-area">
      <thead>
      <tr class="persist-header">
        <th>Module Code</th>
        <th>Module Name</th>
        <th>Contact<br />Hours</th>
        <th>Contact<br />Proportion</th>
        <th>Admin<br />Hours</th>
        <th>Admin<br />Proportion</th>
        <th>Assessment<br />Hours</th>
        <th>Assessment<br />Proportion</th>
        <th>Extra Hours</th>
        <th>Details</th>
      </tr>
    </thead>
    <tbody>
      {% for module, contact_hours, contact_proportion, admin_hours, admin_proportion, assessment_hours, assessment_proportion, extra_hours, module_staff in combined_list %}
      <tr class="{% cycle 'row1' 'row2' as rowcolours %}">
        <th>{{ module.module_code }}</th>
        <td>{{ module.module_name }}</td>
        <td>{{ contact_hours|stringformat:".2f" }}</td>
        <td><span {% if contact_proportion != 100 %}style="color:red"{% endif %}>{{ contact_proportion }}%</span></td>
        <td>{{ admin_hours|stringformat:".2f" }}
        <td><span {% if admin_proportion != 100 %}style="color:red"{% endif %}>{{ admin_proportion }}%</td>
        <td>{{ assessment_hours|stringformat:".2f" }}
        <td><span {% if assessment_proportion != 100 %}style="color:red"{% endif %}>{{ assessment_proportion }}%</td>
        <td>{{ extra_hours|stringformat:".2f" }}</td>
        <td>
        {% for allocation in module_staff %}
          <strong>{{ allocation.staff }}</strong><br />Contact {{ allocation.contact_proportion }}%; Admin {{ allocation.admin_proportion }}%; Assessment {{ allocation.assessment_proportion }}% <br/>
        {% endfor %}
        </td>
      </tr>      
      {% endfor %}
    </tbody>
    </table>
    
  <p>Total of {{ combined_list|length}} module{{combined_list|length|pluralize}}.
  </p>
    
{% else %}
    <p>No modules currently exist for this package.</p>
{% endif %}

<p><a href="{% url 'loads' %}">Loads by Staff</a>.</p>

{% endblock content %}