Dear Colleague,

Your attention is drawn to this assessment sign off on module {{ signoff.module }}. Any previous history is shown
for reference.

<a href="{{ base_url }}{% url 'modules_details' signoff.module.id %}">Further details are available online.</a>

{% if assessment_history %}
    {% for signoff, resources in assessment_history %}

    {% if signoff %}
        <h3>{{ signoff.assessment_state }} by {{ signoff.signed_by.first_name }} {{ signoff.signed_by.last_name }} on {{ signoff.created }}</h3>
    {% endif %}

    {% if resources %}
        <table border="1" width="800">
            <tr>
                <th>Resource Type</th><th>Name</th><th>Owner</th><th>Created</th><th>View</th><th>View</th>
            </tr>
        {% for resource in resources %}
            <tr class="{% cycle 'row1' 'row2' as rowcolours %}">
                <td>{{ resource.resource_type }}</td>
                <td>{{ resource.name }}</td>
                <td>{{ resource.owner }}</td>
                <td>{{ resource.created }}</td>
            </tr>
        {% endfor %}
        </table>
    {% endif %}

    {% endfor %}

{% else %}
    <p>Oh, something went wrong.</p>

{% endif %}
