{% extends "loads/base_automatic.html" %}

{% block content %}

{% if package.in_the_past %}
<h1><span style="color:red">Warning: The currently selected Work Package is in the Past.</span></h1>
<p><span style="color:red">You should not be signing off resources unless this is a correction.</span></p>
{% endif %}

{% if package.in_the_future %}
<h1><span style="color:red">Warning: The currently selected Work Package is in the Future.</span></h1>
{% endif %}

<h2>Sign-off resources for {{ module }}</h2>

<p>Here you can sign off resources or comment on previous signoffs. Note that once you create a sign-off the resources
already added can no longer be deleted.</p>

{% if assessment_signoffs.0 %}
<p>{{ assessment_signoffs.0.assessment_state.next_states_guidance|safe }}</p>
{% endif %}

{% if next_states %}
<form action="" method="post" enctype="multipart/form-data">
    {% csrf_token %}
  <table border="0" cellpadding="0" cellspacing="0">
  {{ form.as_table }}
  </table>
    <input type="submit" value="Submit" />
</form>
{% else %}
    <p class="error_message">
        Unfortunately no new states can be signed from the current one, or you do not have permission to do so.
    </p>
{% endif %}

<h3>History</h3>

<p>For your convenience, here is the previous sign-off history, with notes, for this module.</p>

{% if assessment_signoffs %}
    <table border="1" width="800">
      <tr>
        <th>Type</th><th>Owner</th><th>Created</th>
      </tr>
    {% for signoff in assessment_signoffs %}
      <tr class="{% cycle 'row1' 'row2' as rowcolours %}">
        <th>{{ signoff.assessment_state }}</th>
        <th>{{ signoff.signed_by.first_name }} {{ signoff.signed_by.last_name }}</th>
        <th>{{ signoff.created }}</th>
      </tr>
        <tr  class="{% cycle 'row1' 'row2' as rowcolours %}">
        <td colspan="3">
            {{ signoff.notes }}
        </td>

        </tr>
    {% endfor %}
    </table>

{% else %}
    <p>No assessment sign-offs recorded for this module.</p>
{% endif %}

{% endblock content %}