{% include "loads/header.html" %}

{% if staff.package.in_the_past %}
<h1><span style="color:red">Warning: The currently selected Work Package is in the Past.</span></h1>
<p><span style="color:red">You should not be uploading resources unless they are a correction.</span></p>
{% endif %}

{% if staff.package.in_the_future %}
<h1><span style="color:red">Warning: The currently selected Work Package is in the Future.</span></h1>
{% endif %}

<h2>Upload Assessment Resource for {{ module }}</h2>

<form action="" method="post" enctype="multipart/form-data">
    {% csrf_token %}
  <table border="0" cellpadding="0" cellspacing="0">
  {{ form.as_table }}
  </table>
    <input type="submit" value="Submit" />
</form>  

{% include "loads/footer.html" %}