{% extends "loads/base_automatic.html" %}

{% block content %}

<h3 class="my-3">Delete assessment sign-off</h3>

<p>
    Please confirm that you wish to delete the assessment sign-off below.
    Assessment sign-offs are a vital part of the quality assurance governance
    of WAM, providing an important audit trail. You should not delete this
    sign-off unless it was mistakenly made, or against your institutional policy.
    <br />
    <br />
    <span class="text-warning-emphasis fw-bold">This cannot be undone.</span>
</p>

<h4 class="mt-5">Sign-off details</h4>

<div class="my-4 p-4 border rounded-3">
    <div class="row mb-2">
        <div class="col-12 col-md-3 fw-bold">
          Module code
        </div>
        <div class="col-9 font-monospace">
            {{ signoff.module.module_code }}
        </div>
    </div>
    <div class="row mb-2">
        <div class="col-12 col-md-3 fw-bold">
            Module name
        </div>
        <div class="col-9 font-monospace">
            {{ signoff.module.module_name }}
        </div>
    </div>
    <div class="row mb-2">
        <div class="col-12 col-md-3 fw-bold">
            Assessment state
        </div>
        <div class="col-9 font-monospace">
            {{ signoff.assessment_state }}
        </div>
    </div>
    <div class="row mb-2">
        <div class="col-12 col-md-3 fw-bold">
            Signed by
        </div>
        <div class="col-9 font-monospace">
            {{ signoff.signed_by }}
        </div>
    </div>
    <div class="row mb-2">
        <div class="col-12 col-md-3 fw-bold">
            Created
        </div>
        <div class="col-9 font-monospace">
            {{ signoff.created }}
        </div>
    </div>
    <div class="row mb-2">
        <div class="col-12 col-md-3 fw-bold">
            Notes
        </div>
        <div class="col-9 small">
            {{ signoff.notes }}
        </div>
    </div>
</div>

<div class="mt-5">
    <p class="mt-5 fw-bold">
        This cannot be undone! Are you sure?
    </p>
    <p class="mt-3">
        <a class="btn btn-warning me-4" role="button" href="{% url 'delete_assessment_sign_off' signoff.id "/confirm" %}">Confirm</a>
        <a class="btn btn-primary" role="button" href="{% url 'modules_details' signoff.module.id %}">Cancel</a>
    </p>
</div>
{% endblock content %}
