{% include "loads/header.html" %}

<h2>Details for Module {{ module.name }}</h2>

<table border="0">
  <tr>
    <th>
      Module Code
    </th>
    <td>
      {{ module.module_code }}
    </td>
  </tr>
  <tr>
    <th>
      Module Name
    </th>
    <td>
      {{ module.module_name }}
    </td>
  </tr>
  <tr>
    <th>
      Module Credits
    </th>
    <td>
      {{ module.credits }}
    </td>
  </tr>
  <tr>
    <th>
      Module Size
    </th>
    <td>
      {{ module.size }}
    </td>
  </tr>
  <tr>
    <th>
      Module Name
    </th>
    <td>
      {{ module.module_name }}
    </td>
  </tr>
  <tr>
    <th>
      Semester
    </th>
    <td>
      {{ module.semester }}
    </td>
  </tr>
  <tr>
    <th>
      Hours
    </th>
    <td>
      Total Hours: {{ total_hours|stringformat:".2f" }}; Contact Hours: {{ contact_hours|stringformat:".2f" }}; Admin Hours {{ admin_hours|stringformat:".2f" }}; Assessment_Hours {{ assessment_hours|stringformat:".2f" }}
    </td>
  </tr>
  {% if module.details %}
  <tr>
    <th>
      Other Details
    </th>
    <td>
      {{ module.details|urlize|linebreaksbr }}
    </td>
  </tr>
  {% end %}
  
</table>

<h2>Related Activity Information</h2>

<p>Selected Work Package : {{package}}</p>

{% if package.draft %}
<h1>This is a DRAFT allocation and may be incomplete.</h1>
{% endif %}

<h2>Module Staff Allocations</h2>
{% if modulestaff %}
    <table border="1">
      <tr>
        <th>Staff Member</th>
        <th>Contact<br />Proportion</th>
        <th>Admin<br />Proportion</th>
        <th>Assessment<br />Proportion</th>
      </tr>
      {% for allocation in modulestaff %}
      <tr class="{% cycle 'row1' 'row2' as rowcolours %}">
        <th>{{ allocation.staff }}</th>
        <td>{{ allocation.contact_proportion }}%</td>
        <td>{{ allocation.admin_proportion }}%</td>
        <td>{{ allocation.assessment_proportion }}%</td>
      </tr>
      {% endfor %}    
      <tr>
        <th>Total</th>
        <th><span {% if total_contact_proportion != 100 %}style="color:red"{% endif %}>{{ total_contact_proportion }}%</span></th>
        <th><span {% if total_admin_proportion != 100 %}style="color:red"{% endif %}>{{ total_admin_proportion }}%</span></th>  
        <th><span {% if total_assessment_proportion != 100 %}style="color:red"{% endif %}>{{ total_assessment_proportion }}%</span></th> 
      </tr>  
    </table>
    
    <p><a href="{% url 'module_staff_allocation' package.id module.id %}">Edit Allocations</a></p>
{% else %}
  <p>No allocations of staff recorded for this module. <a href="{% url 'module_staff_allocation' package.id module.id %}">(Edit)</a></p>  
{% endif %}

<h2>Custom Activities</h2>
{% if activities %}
    <table border="1">
      <tr>
        <th>Activity Name</th><th>Staff Member</th><th>Comment</th>
      </tr>
      {% for activity in activities %}
      <tr class="{% cycle 'row1' 'row2' as rowcolours %}">
        <th>{{ activity.name }}</th>
        <td>{{ activity.staff }}</td>
        <td>{{ activity.comment }}</td>
      </tr>
      {% endfor %}      
    </table>
    
{% else %}
    <p>No custom activities recorded for this module.</p>
{% endif %}

<h2>Exam Tracker</h2>
  
{% if exam_trackers %}
    <table border="1">
      <tr>
        <th>Academic Year</th><th>Progress</th><th>Timestamp</th>
      </tr>
      {% for tracker in exam_trackers %}
      <tr class="{% cycle 'row1' 'row2' as rowcolours %}">
        <th>{{ tracker.academic_year }}</th>
        <td>{{ tracker.get_progress_display }}</td>
        <td>{{ tracker.created }}</td>
      </tr>
      {% endfor %}      
    </table>
    
{% else %}
    <p>No exam trackers recorded for this module.</p>
{% endif %}

<p>
Click <a href="{% url 'exam_track_progress' module.id %}">here</a> to record another tracking event.
</p>

<h2>Coursework Tracker</h2>
  
{% if coursework_trackers %}
    <table border="1">
      <tr>
        <th>Academic Year</th><th>Progress</th><th>Timestamp</th>
      </tr>
      {% for tracker in coursework_trackers %}
      <tr class="{% cycle 'row1' 'row2' as rowcolours %}">
        <th>{{ tracker.academic_year }}</th>
        <td>{{ tracker.get_progress_display }}</td>
        <td>{{ tracker.created }}</td>
      </tr>
      {% endfor %}      
    </table>
    
{% else %}
    <p>No coursework trackers recorded for this module.</p>
{% endif %}

<p>
Click <a href="{% url 'coursework_track_progress' module.id %}">here</a> to record another tracking event.
</p>


{% include "loads/footer.html" %}