{% extends "loads/base_automatic.html" %}

{% block content %}

<p class="mb-3">
    Selected year:<br/>
    <span class="font-monospace fw-bold me-2">{{package}}</span> <a class="btn btn-secondary btn-sm wam-hide-on-print" href="{%url 'workpackage_change' %}?next={{ request.path|urlencode }}">Change year</a>
</p>

{% if package.draft and package.in_the_future and package.in_the_past %}
<div class="border border-2 border-danger p-3 rounded-3 mb-5">
    <h6 class="fw-bold">!! Please note these exceptions <i class="fw-normal small">(hover for more information)</i></h6>
    <div class="d-flex">
        {% if package.draft %}
        <div class="badge text-bg-danger me-2"
             title="This is a DRAFT allocation and may be incomplete.">Draft allocation</div>
        {% endif %}
        {% if package.in_the_past %}
        <div class="badge text-bg-danger me-2"
             title="The currently selected Work Package is in the Past! You probably want to change the year above.">Past work package</div>
        {% endif %}
        {% if package.in_the_future %}
        <div class="badge text-bg-danger me-2"
             title="The currently selected Work Package is in the Future">Future work package</div>
        {% endif %}
    </div>
</div>
{% endif %}

<a class="btn btn-info wam-hide-on-print" data-bs-toggle="collapse" href="#filterForm" role="button" aria-controls="filterForm">
    Filter
</a>

<div class="border border-secondary-subtle rounded-3 p-3 mb-3 mt-3 collapse{% if request.POST.semesters or request.POST.programme or request.POST.lead_programme or request.POST.show_people %} show{% endif %} wam-hide-on-print"
     id="filterForm">
    <h6 class="mt-1 mb-5">Use this form to restrict the modules shown if desired.</h6>
    <form action="" method="post">
        {% csrf_token %}
        {# Process hidden fields, we don't need to style them #}
        {% for hidden in form.hidden_fields %}
            {{ hidden }}
        {% endfor %}

        {% for field in form.visible_fields %}
        <div class="row mb-3">
            <label for="{{ field.id_for_label }}"
                   class="col-12 col-md-3 form-label">{{ field.label }}</label>
            {% if field.field.widget.input_type == "text" %}
                <div class="col-12 col-md-8">
                    <input type="{{ field.field.widget.input_type }}"
                           class="form-control"
                           id="{{ field.id_for_label }}"
                           {% if not field.field.max_length is None %}
                           maxlength="{{ field.field.max_length }}"
                           {% endif %}
                           name="{{ field.html_name }}" value="{{ field.value }}" />
                    {# Show field errors as a list, one per line #}
                    {% if field.errors %}
                        <div class="text-danger small mt-1">
                            {% for error in field.errors %}
                            <p>{{ error|escape }}</p>
                             {% endfor %}
                        </div>
                    {% endif %}
                </div>
            {% elif field.field.widget.input_type == "select" %}
                <div class="col-12 col-md-8">
                    <select class="form-select" id="{{ field.id_for_label }}" name="{{ field.name }}" value="{{ field.value }}">
                        {% for option in field.field.choices %}
                        <option value="{{ option.0|escape }}"{% if field.value == option.0|stringformat:"s" %} selected{% endif %}>
                            {{ option.1|escape }}
                        </option>
                        {% endfor %}
                    </select>
                    {# Show field errors as a list, one per line #}
                    {% if field.errors %}
                        <div class="text-danger small mt-1">
                            {% for error in field.errors %}
                            <p>{{ error|escape }}</p>
                             {% endfor %}
                        </div>
                    {% endif %}
                </div>
            {% elif field.field.widget.input_type == "checkbox" %}
                <div class="col">
                    <input type="{{ field.field.widget.input_type }}"
                           class="form-check-input" id="{{ field.id_for_label }}"
                           name="{{ field.name }}" value="1"{% if field.value is True %} checked{% endif %} />
                </div>
            {% else %}
            <pre>Unknown field type: {{ field.field.widget.input_type }}</pre>
            {% endif %}
        </div>
        {% endfor %}

        {#  {{ form }} #}
        <input type="submit" class="btn btn-primary" value="Submit" />
    </form>
</div>

<div class="mt-5">
    <h4>Modules {% if valid_semesters %}<span class="small">(restricted to those in Semester{{valid_semesters_length_plaralise}} {% for semester in valid_semesters %}{% if forloop.first %}{% else %}{% if forloop.last %} and {% else %}, {% endif %}{% endif %}{{semester}}{% endfor %})</span>{% endif %}</h4>

    {% if combined_list %}
        {% if programme %}
            <p class="text-info-emphasis">Only modules on the Programme <span class="fw-bold">{{ programme }}</span>
            {% if lead_programme %}
                <i>and for which that is the lead programme</i>
            {% endif %}
                are shown.</p>
        {% endif %}

    <div class="table-responsive small mt-4">
        <table class="table table-sm table-striped table-hover">
            <thead class="sticky-top">
                <tr>
                    <th scope="col">Module code</th>
                    <th scope="col">Module name</th>
                    <th scope="col">Relationship</th>
                    <th scope="col">Most recent assessment status</th>
                    <th scope="col" class="wam-hide-on-print">Details</th>
                    {% if show_people %}
                    <th scope="col">Module coordinator</th><th>Moderator</th>
                    <th scope="col">Lead examiner</th>
                    {% endif %}
                  </tr>
            </thead>
            <tbody class="table-group-divider">
                {% for module, relationship, resource, signoff, action_possible, examiners in combined_list %}
                <tr>
                    <td class="font-monospace">{{ module.module_code }}</td>
                    <td>{{ module.module_name }}</td>
                    <td>{% if relationship %}<strong>{% for relation in relationship %}{% if relation == 'external' %}External Examiner (Information Only){% endif %}{% if relation == 'lead_external' %}Lead External Examiner{% endif %}{% if relation == 'team_member' %}Team{% endif %}{% if relation == 'moderator' %}Moderator{% endif %}{% endfor %}</strong>{% else %}--{% endif %} </td>
                    {% if signoff %}
                    <td>
                        {% if action_possible %}
                        <strong>
                        {% endif %}
                        {{ signoff.assessment_state }}
                        {% if action_possible %}
                        </strong>
                        {% endif %}
                        ({{ signoff.created }})
                    </td>
                    {% else %}
                    {# No sign off, look for a resource instead #}
                    {% if resource %}
                    <td>No sign offs, some activity</td>
                    {% else %}
                    <td>No sign offs, no activity</td>
                    {% endif %}
                    {% endif %}
                    <td class="wam-hide-on-print"><a class="link-opacity-50-hover link-underline-opacity-50 link-offset-2" href="{% url 'modules_details' module.id %}">Details</a></td>
                    {% if show_people %}
                    <td>{{ module.coordinator }}</td>
                    <td>{% for moderator in module.moderators.all %}{{ moderator }}<br />{% endfor %}</td>
                    <td>{% for examiner in examiners %}{{ examiner }}<br />{% endfor %}</td>
                    {% endif %}
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

      <p class="small text-secondary">Total of {{ combined_list|length}} module{{combined_list|length|pluralize}}.
      </p>

    {% else %}
        <p class="text-info fw-bold">No modules currently meet the chosen criteria for this package.</p>
    {% endif %}
</div>

{% if not logged_in_staff.is_external %}
<div class="mt-5 wam-hide-on-print">
    <h4>Add Module</h4>
    <a class="link-opacity-50-hover link-underline-opacity-50 link-offset-2" href="{% url 'create module' %}">Click here to create a new Module</a>
</div>
{% endif %}
{% endblock %}