{% extends "loads/base_automatic.html" %}

{% block content %}

<h3 class="my-3">Delete module</h3>
<h4 class="text-info-emphasis font-monospace">({{ object }})</h4>

{% if object.package.in_the_past %}
<div class="border border-2 border-danger p-4 pb-3 rounded-3 mt-4 mb-4">
    <p class="fw-bold">Warning: The Work Package for this item is in the past!</p>
    <p>You should not be deleting past modules unless they are a correction.</p>
</div>
{% endif %}

<div class="mt-5">
    <p>
        You are deleting <span class="font-monospace">"{{ object }}"</span> in year
        <span class="font-monospace">"{{ object.package }}"</span>
    </p>
    <p>
        Normally, modules are only deleted when you are pruning discontinued modules from a new rolled over allocation.
    </p>
    {% if module_allocations or custom_activities or assessment_resources %}
    <div class="border border-2 border-danger p-3 rounded-3 mb-5">
    <h6 class="fw-bold">!! Please note these exceptions <i class="fw-normal small">(hover for more information)</i></h6>
    <div class="d-flex">
        {% if module_allocations %}
        <div class="badge text-bg-danger me-2"
             title="This module has assigned teaching allocations.">Teaching Allocations</div>
        {% endif %}
        {% if custom_activities %}
        <div class="badge text-bg-danger me-2"
             title="This module has custom activities">Custom Activities</div>
        {% endif %}
        {% if assessment_resources %}
        <div class="badge text-bg-danger me-2"
             title="The module has assessment history.">Assessment History</div>
        {% endif %}
    </div>
    <div class="fw-bold mt-4">
        Deleting modules will also delete <u>all</u> related module allocations,
        custom activities and module assessment histories.
    </div>
    {% endif %}
</div>

<div class="mt-5">
    <p class="mt-5 fw-bold">
        This cannot be undone! Are you sure?
    </p>
    <p>
        <form method="post">
            {{ form }}
            {% csrf_token %}
            <p class="mt-3">
                <input type="submit" class="btn btn-warning me-4" role="button" value="Confirm" />
                <a class="btn btn-primary" role="button" href="{% url 'modules_index' "1,2,3" %}">Cancel</a>
            </p>
        </form>
    </p>
</div>
{% endblock content %}