{% extends "loads/base_automatic.html" %} {% block content %}

{% if form.instance.pk %}
<h3 class="my-3">
    Update module
</h3>
{% else %}
<h3 class="my-3">
    Create module
</h3>
<p>
    This form allows the creation of new modules.
</p>
{% endif %}

<div class="border border-secondary-subtle rounded-3 p-3 mb-3 mt-3">
    <form action="" method="post">
        {% csrf_token %}
        {# Process hidden fields, we don't need to style them #}
        {% for hidden in form.hidden_fields %}
            {{ hidden }}
        {% endfor %}
        {% for field in form.visible_fields %}
            {% include "loads/partials/_form_field.html" %}
        {% endfor %}
        <div class="row mt-4 mb-3 d-print-none">
            <div class="col-6 col-md-9">
                <input class="btn btn-primary me-2" type="submit" value="Submit" />
                <a class="btn btn-secondary" role="button" href="{% url 'modules_index' "1,2,3" %}">Cancel</a>
            </div>
            {% if form.instance.pk %}
            <div class="col-6 col-md-3 text-end">
                <a class="btn btn-danger" role="button" href="{% url 'delete module' form.instance.pk %}">Delete module</a>
            </div>
            {% endif %}
        </div>
    </form>
</div>

{% block extra_head %}
    {{ form.media }}
{% endblock %}

{% endblock content %}