{% extends "loads/base_automatic.html" %} {% block content %}

<h2>Manage Allocations for {{staff}}</h2>
<h2>Package {{package}}</h2>


<form id="allocationForm" method="post" action="">
  {% csrf_token %}
  <input type="submit" value="Submit" />
  <table border="0" cellpadding="0" cellspacing="0">
          <tbody>
            <tr>
              <th>Module</th><th>Contact</br>Percentage</th><th>Admin</br>Percentage</th><th>Assessment</br>Percentage</th>
            </tr>
              {% for form in formset.forms %}
              {% for hidden in form.hidden_fields %} {{ hidden }} {% endfor %}
              <tr>
                 <td>{{ form.module }} {% if form.instance.pk %}{{ form.DELETE }}{% endif %}
                   {% for error in form.module.errors %} <span class="error_message">{{ error|escape }}</span> {% endfor %} </td>
                 <td>{{ form.contact_proportion }}
                   {% for error in form.contact_proportion.errors %} <span class="error_message">{{ error|escape }}</span> {% endfor %} </td>
                 <td>{{ form.admin_proportion }}
                   {% for error in form.admin_proportion.errors %} <span class="error_message">{{ error|escape }}</span> {% endfor %} </td>
                 <td>{{ form.assessment_proportion }}
                   {% for error in form.assessment_proportion.errors %} <span class="error_message">{{ error|escape }}</span> {% endfor %} </td>
              </tr>
              
              {% endfor %}
              
              {% if formset.non_form_errors %}
              <tr><td colspan="4"><span class="error_message">
                {% for error in formset.non_form_errors %}
                  {{ error|escape }}
                {% endfor %}
              </span></td></tr>
              {% endif %}
          </tbody>
      </table>
      {{ formset.management_form }}
  <input type="submit" value="Submit" />
</form>


{% load staticfiles %}

<!-- Include formset plugin - including jQuery dependency -->
<script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
<script src="{% static 'loads/jquery.formset.js' %}"></script>
<script type="text/javascript">
    $(function() {
        $('#allocationForm tbody tr').formset();
    })
</script>


{% endblock content %}