{% extends "loads/base_automatic.html" %}
{% block content %}
  
<h3 class="my-3">Projects</h3>

<p>
    Projects are used to help allocate activities to a number of members of
    staff at the same time, where those staff are working on a common project,
    albeit with potentially different allocations.
</p>
<p>
    Projects are time bound, and so can create allocations across different
    work packages as appropriate. Generating activities for projects
    <strong>will delete existing allocations for the project and create a new
    set</strong>.
</p>
<p>
    Generated activities are placed in an Activity Set, deleting the set will
    delete all the related allocations. The usual use case for this is
    something like a research grant.
</p>

{% if projects %}
<div class="table-responsive small mt-4">
    <table class="table table-sm table-striped table-hover">
        <thead>
            <tr>
                <th scope="col">Project name</th>
                <th scope="col">Activity type</th>
                <th scope="col">Start</th>
                <th scope="col">End</th>
                <th scope="col">Details</th>
                <th scope="col">Generate activities</th>
            </tr>
        </thead>
        <tbody class="table-group-divider">
            {% for project in projects %}
            <tr>
                <th>{{ project.name }}</th>
                <td>{{ project.activity_type }}</td>
                <td>{{ project.start }}</td>
                <td>{{ project.end }}</td>
                <td><a class="link-opacity-50-hover link-underline-opacity-50 link-offset-2" href="{% url 'projects_details' project.id %}">Details</a></td>
                <td><a class="link-opacity-50-hover link-underline-opacity-50 link-offset-2" href="{% url 'projects_generate_activities' project.id %}">Generate activities</a></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
    
<p class="text-info-emphasis mt-2">
    {{ projects|length}} active project{{projects|length|pluralize}}.
</p>
{% else %}
<p class="text-info-emphasis mt-4">
    No unarchived projects are available.
</p>
{% endif %}

{% endblock content %}