{% include "loads/header.html" %}
  
<h2>Projects</h2>

<p>
  Projects are used to help allocate activities to a number of members of staff at the same time, where those staff are working
  on a common project, albeit with potentially different allocations. Projects are time bound, and so can create allocations
  across different work packages as appropriate. Generating activities for projects <strong>will delete existing allocations
  for the project and create a new set</strong>.
  
  Generated activities are placed in an Activity Set, deleting the set will delete all the related allocations.
  
  The usual use case for this is something like a research grant.
</p>

{% if projects %}
    <table border="1">
      <tr>
        <th>Project Name</th><th>Activity Type</th><th>Start</th><th>End</th><th>Details</th><th>Generate Activities</th>
      </tr>
      {% for project in projects %}
      <tr class="{% cycle 'row1' 'row2' as rowcolours %}">
        <th>{{ project.name }}</th>
        <td>{{ project.activity_type }}</td>
        <td>{{ project.start }}</td>
        <td>{{ project.end }}</td>
        <td><a href="{% url 'projects_details' project.id %}">Details</a></td>
        <td><a href="{% url 'projects_generate_activities' project.id %}">Generate Activities</a></td>
      </tr>      
      {% endfor %}
    </table>
    
    <p>{{ projects|length}} active project{{projects|length|pluralize}}.</p>
{% else %}
    <p>No unarchived projects are available.</p>
{% endif %}

{% include "loads/footer.html" %}