/* Some custom CSS for WAM. Also used to override certain aspects of Bootstrap */

/* Disable Bootstrap animations site-wide. They are just annoying :) */

*,
::before,
::after {
    transition: none !important;
    animation: none !important;
}
.fade,
.collapsing,
.modal,
.offcanvas,
.dropdown-menu,
.toast {
    transition: none !important;
    animation: none !important;
    opacity: 1 !important;
}
/* Restore proper visibility for Bootstrap backdrops */
:root {
    --bs-backdrop-opacity: 0.60;
}
.offcanvas-backdrop,
.modal-backdrop {
    transition: none !important;
    background: var(--bs-backdrop-bg, #000);
}
.offcanvas-backdrop.show,
.modal-backdrop.show {
    opacity: var(--bs-backdrop-opacity) !important;
}
.offcanvas-backdrop:not(.show),
.modal-backdrop:not(.show) {
    opacity: 0 !important;
}
/* Bootstrap nav-link overrides */
.nav-link:hover, .nav-link:focus {
  text-decoration: underline !important;
  text-underline-offset: 0.375em !important;
}
/* Somewhat less bloated bullets for "menu lists" */
ul.wam-menu-list {
    list-style-position: outside;
    list-style: none;
}
ul.wam-menu-list li {
    margin-top: 0.6em;
}
ul.wam-menu-list li::before {
    content: "› ";
    display: inline-block;
    width: 1em;
    margin-left: -1.4em;
    font-weight: bold;
    font-size: 1.2em;
}
/* text-danger-emphasis works better in dark mode, whereas text-danger
   works better in light mode. */
.wam-text-danger {
    color: #dc3545 !important;
}
[data-bs-theme=dark] {
    .wam-text-danger {
        color: #ea868f !important;
    }
}
/* Only shown while printing */
.wam-show-on-print {
    display: none;
}
/* General class to hide element when printing */
@media print {
    .wam-hide-on-print {
        display: none !important;
    }
    .wam-show-on-print {
        display: block !important;
    }
}
/* Hide footer when printing */
@media print {
    footer {
        display: none !important;
    }
    #footer {
        display: none !important;
    }
}
@media screen {
    #contentTopWAM {
        margin-top:100px !important;
        max-width:980px !important;
    }
}
@media print {
    #menuTopWAM {
        display: none !important;
    }
    #contentTopWAM {
        margin-top: 0 !important;
        padding-top: 0 !important;
    }
    body {
        margin-top: 0 !important;
        padding-top: 0 !important;
    }
    .printBreakWAM {
        break-after: page;
    }
}
/*@media (prefers-color-scheme: dark) { color: #ea868f; }*/
