/* Some custom CSS for WAM. Also used to override certain aspects of Bootstrap */

/* Disable Bootstrap animations site-wide. They are just annoying :) */

*,
::before,
::after {
    transition: none !important;
    animation: none !important;
}
.fade,
.collapsing,
.modal,
.offcanvas,
.dropdown-menu,
.toast {
    transition: none !important;
    animation: none !important;
    opacity: 1 !important;
}
/* Restore proper visibility for Bootstrap backdrops */
:root {
    --bs-backdrop-opacity: 0.60;
}
.offcanvas-backdrop,
.modal-backdrop {
    transition: none !important;
    background: var(--bs-backdrop-bg, #000);
}
.offcanvas-backdrop.show,
.modal-backdrop.show {
    opacity: var(--bs-backdrop-opacity) !important;
}
.offcanvas-backdrop:not(.show),
.modal-backdrop:not(.show) {
    opacity: 0 !important;
}
/* Bootstrap nav-link overrides */
.nav-link:hover, .nav-link:focus {
  text-decoration: underline !important;
  text-underline-offset: 0.375em !important;
}
a.nav-link:active, .nav-link:active {
    background-color: inherit !important;
    color:inherit !important;
}
li.dropdown-item:active {
    background-color: inherit !important;
    color:inherit !important;
}
/* Somewhat less bloated bullets for "menu lists" */
ul.wam-menu-list {
    list-style-position: outside;
    list-style: none;
}
ul.wam-menu-list li {
    margin-top: 0.6em;
}
ul.wam-menu-list li::before {
    content: "› ";
    display: inline-block;
    width: 1em;
    margin-left: -1.4em;
    font-weight: bold;
    font-size: 1.2em;
}
/* text-danger-emphasis works better in dark mode, whereas text-danger
   works better in light mode. */
.wam-text-danger {
    color: #dc3545 !important;
}
[data-bs-theme=dark] {
    .wam-text-danger {
        color: #ea868f !important;
    }
}
/* Only shown while printing */
.wam-show-on-print {
    display: none;
}
/* Fancy Formset */
[data-formset].formset-active > fieldset {
    padding: 0 !important;
    margin: 0 !important;
    padding-bottom: 1rem !important;
    border-top: 3px dotted var(--bs-secondary-border-subtle) !important;
    border-bottom: none !important;
    padding-top: 1rem !important;
}
div.formset-delete {
  min-width: 0px !important;
  max-width: 48px !important;
  width: 48px !important;
}
[data-formset].formset-active > fieldset.deleted .formset-delete {
    width: 100% !important;
    max-width: 100% !important;
}
div.wam-formset-grid {
    display: grid;
    /*grid-template-columns: 3fr auto auto auto 1fr;*/
    grid-template-columns: 250px repeat(4, minmax(0, 1fr));
    box-sizing: border-box;
    font-size: 0.9rem;
}
div.wam-formset-grid div {
    min-width: 100px;
    text-wrap: nowrap !important;
    white-space: nowrap !important;
    overflow: hidden !important;
    text-overflow: ellipsis !important;
}
div.wam-formset-grid div label {
    display: none;
}
div.wam-formset-grid div:last-child label {
    display: block;
    font-size: 0.8rem;
}
div.wam-formset-grid div select {
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
    text-transform: none;
    word-wrap: normal;
    --bs-form-select-bg-img: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='%23343a40' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='m2 5 6 6 6-6'/%3e%3c/svg%3e");
    display: block;
    padding: 0.1rem 2rem 0.1rem 0.5rem;
    margin: 0 5.5rem 0 0;
    font-size: 0.9rem;
    font-weight: 400;
    line-height: 1.5;
    color: var(--bs-body-color);
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-color: var(--bs-body-bg);
    background-image: var(--bs-form-select-bg-img), var(--bs-form-select-bg-icon, none);
    background-repeat: no-repeat;
    background-position: right 0.75rem center;
    background-size: 16px 12px;
    border: var(--bs-border-width) solid var(--bs-border-color);
    border-radius: var(--bs-border-radius);
    transition: none;
    max-width: 230px !important;
}
div.wam-formset-grid div select:disabled {
    opacity: 1;
}
div.wam-formset-grid div select:focus {
    border-color: #86b7fe;
    outline: 0;
    box-shadow: 0 0 0 0.25rem rgba(13, 110, 253, 0.25);
}
div.wam-formset-grid div select:-moz-focusring {
    color: transparent;
    text-shadow: 0 0 0 var(--bs-body-color);
}
[data-bs-theme=dark] div.wam-formset-grid div select {
    --bs-form-select-bg-img: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='%23dee2e6' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='m2 5 6 6 6-6'/%3e%3c/svg%3e");
}
div.wam-formset-grid div .errorlist {
    display: none !important;
}
div.wam-formset-grid div input[aria-invalid="true"] {
    border: 2px solid var(--bs-danger) !important;
}
div.wam-formset-grid div input[type=number] {
    margin: 0;
    font-family: inherit;
    line-height: inherit;
    text-transform: none;
    word-wrap: normal;
    display: block;
    padding: 0.1rem 0.5rem 0.1rem 0.5rem;
    margin: 0 5.5rem 0 0;
    font-size: 0.9rem;
    font-weight: 400;
    line-height: 1.5;
    max-width: 5rem;
    color: var(--bs-body-color);
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-color: var(--bs-body-bg);
    background-image: var(--bs-form-select-bg-img), var(--bs-form-select-bg-icon, none);
    background-repeat: no-repeat;
    background-position: right 0.75rem center;
    background-size: 16px 12px;
    border: var(--bs-border-width) solid var(--bs-border-color);
    border-radius: var(--bs-border-radius);
    transition: none;
}
div.wam-formset-grid div input[type=number]:focus {
    border-color: #86b7fe;
    outline: 0;
    box-shadow: 0 0 0 0.25rem rgba(13, 110, 253, 0.25);
}
div.wam-formset-grid div input[type=date] {
    margin: 0;
    font-family: inherit;
    line-height: inherit;
    text-transform: none;
    word-wrap: normal;
    display: block;
    padding: 0.1rem 0.3rem 0.1rem 0.3rem;
    margin: 0 5.5rem 0 0;
    font-size: 0.9rem;
    font-weight: 400;
    line-height: 1.5;
    max-width: 10rem;
    min-width: 8rem !important;
    overflow: hidden !important;
    color: var(--bs-body-color);
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-color: var(--bs-body-bg);
    background-image: var(--bs-form-select-bg-img), var(--bs-form-select-bg-icon, none);
    background-repeat: no-repeat;
    background-position: right 0.75rem center;
    background-size: 16px 12px;
    border: var(--bs-border-width) solid var(--bs-border-color);
    border-radius: var(--bs-border-radius);
    transition: none;
}
div.wam-formset-grid div input[type=date]:focus {
    border-color: #86b7fe;
    outline: 0;
    box-shadow: 0 0 0 0.25rem rgba(13, 110, 253, 0.25);
}
div.wam-formset-grid div input[type=checkbox] {
    color: yellow;
    padding: 50px;
}
div.wam-formset-grid div input[type=checkbox]:before {
    color: yellow;
    padding: 50px;
}

/* General class to hide element when printing */
@media print {
    .wam-hide-on-print {
        display: none !important;
    }
    .wam-show-on-print {
        display: block !important;
    }
}
/* Hide footer when printing */
@media print {
    footer {
        display: none !important;
    }
    #footer {
        display: none !important;
    }
}
@media screen {
    #contentTopWAM {
        margin-top:100px !important;
        max-width:980px !important;
    }
}
@media print {
    #menuTopWAM {
        display: none !important;
    }
    #contentTopWAM {
        margin-top: 0 !important;
        padding-top: 0 !important;
    }
    body {
        margin-top: 0 !important;
        padding-top: 0 !important;
    }
    .printBreakWAM {
        break-after: page;
    }
}
/*@media (prefers-color-scheme: dark) { color: #ea868f; }*/
