{% extends "loads/base_automatic.html" %}

{% block content %}

<p class="mb-3">
    Selected year:<br/>
    <span class="font-monospace fw-bold me-2">{{package}}</span> <a class="btn btn-secondary btn-sm wam-hide-on-print" href="{%url 'workpackage_change' %}?next={{ request.path|urlencode }}">Change year</a>
</p>

{% if package.draft or package.in_the_future or package.in_the_past %}
<div class="border border-2 border-danger p-3 rounded-3 mb-5">
    <h6 class="fw-bold">!! Please note these exceptions <i class="fw-normal small">(hover for more information)</i></h6>
    <div class="d-flex">
        {% if package.draft %}
        <div class="badge text-bg-danger me-2"
             title="This is a DRAFT allocation and may be incomplete.">Draft allocation</div>
        {% endif %}
        {% if package.in_the_past %}
        <div class="badge text-bg-danger me-2"
             title="The currently selected Work Package is in the Past! You probably want to change the year above.">Past work package</div>
        {% endif %}
        {% if package.in_the_future %}
        <div class="badge text-bg-danger me-2"
             title="The currently selected Work Package is in the Future">Future work package</div>
        {% endif %}
    </div>
</div>
{% endif %}

<h3 class="my-3">Activity Generators</h3>

<div class="wam-hide-on-print">
    <p>
        Activity Generators are used to allocated activities to a numbers of staff members at the same time.
    </p>
    <p>
        The created activities
        are linked in an <i>Activity Set</i>, if the Set is deleted all those related Activities will be deleted as well. Note that each
        time you generate activities another set is created, the old one is <strong>not</strong> deleted. This is to allow you to,
        for instance, add multiple PhD supervisions. You can change the target groups and users between each generation. You can
        change other details too, but this is not recommended, it's better to create another generator.
    </p>
</div>

{% if generators %}
<div class="table-responsive small mt-4">
    <table class="table table-sm table-striped table-hover">
        <thead>
            <tr>
                <th scope="col">Generator Name</th>
                <th scope="col">Activity Type</th>
                <th scope="col" class="wam-hide-on-print">Generate Activities</th>
            </tr>
        </thead>
        <tbody class="table-group-divider">
            {% for generator in generators %}
            <tr>
                <th>{{ generator.name }}</th>
                <td>{{ generator.activity_type }}</td>
                <td class="wam-hide-on-print"><a class="link-opacity-50-hover link-underline-opacity-50 link-offset-2" href="{% url 'generators_generate_activities' generator.id %}">Generate Activities</a></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
    
<p class="text-info-emphasis">
    {{ generators|length}} active generator{{projects|length|pluralize}} in the selected work package.
</p>
{% else %}
<p>
    No activity generators are available in this work package.
</p>
{% endif %}

{% endblock content %}