{% extends "loads/base_automatic.html" %} {% block content %}

<p class="mb-3">
    Selected year:<br/>
    <span class="font-monospace fw-bold me-2">{{package}}</span> <a class="btn btn-secondary btn-sm wam-hide-on-print" href="{%url 'workpackage_change' %}?next={{ request.path|urlencode }}">Change year</a>
</p>

{% if package.draft or package.in_the_future or package.in_the_past %}
<div class="border border-2 border-danger p-3 rounded-3 mb-5">
    <h6 class="fw-bold">!! Please note these exceptions <i class="fw-normal small">(hover for more information)</i></h6>
    <div class="d-flex">
        {% if package.draft %}
        <div class="badge text-bg-danger me-2"
             title="This is a DRAFT allocation and may be incomplete.">Draft allocation</div>
        {% endif %}
        {% if package.in_the_past %}
        <div class="badge text-bg-danger me-2"
             title="The currently selected Work Package is in the Past! You probably want to change the year above.">Past work package</div>
        {% endif %}
        {% if package.in_the_future %}
        <div class="badge text-bg-danger me-2"
             title="The currently selected Work Package is in the Future">Future work package</div>
        {% endif %}
    </div>
</div>
{% endif %}


<h3 class="mt-4 mb-3">Programmes</h3>

<div class="table-responsive small">
    <table class="table table-sm table-striped table-hover">
        <thead>
            <tr>
                <th scope="col">Programme code</th>
                <th scope="col">Programme name</th>
                <th scope="col" class="col-1 wam-hide-on-print">Details</th>
            </tr>
        </thead>
        <tbody class="table-group-divider">
            {% for programme in programmes %}
            <tr>
                <td class="font-monospace">{{ programme.programme_code }}</td>
                <td>{{ programme.programme_name }}</td>
                <td class="col-1 wam-hide-on-print"><a class="link-opacity-50-hover link-underline-opacity-50 link-offset-2" href="{% if logged_in_staff.is_external %}{% url 'view programme' programme.pk %}{% else %}{% url 'update programme' programme.pk %}{% endif %}">Details</a></td>
            {% endfor %}
            </tr>
        </tbody>
    </table>
</div>

{% if not logged_in_staff.is_external %}
<div class="wam-hide-on-print">
    <h4 class="my-3">
        Add programme
    </h4>
    <a class="link-opacity-50-hover link-underline-opacity-50 link-offset-2" href="{% url 'create programme' %}">
        Click here to create a new programme
    </a>
</div>
{% endif %}

{% endblock content %}