{% extends "loads/base_automatic.html" %} {% block content %}

{% if form.instance.pk %}
<h3 class="my-3">
    Update Activity
</h3>
{% else %}
<h3 class="my-3">
    Create Activity
</h3>
<p>
    This form allows the creation of new Activities.
</p>
{% endif %}

<div class="border border-secondary-subtle rounded-3 p-3 mb-3 mt-3">
    <form action="" method="post">
        {% csrf_token %}
        {# Process hidden fields, we don't need to style them #}
        {% for hidden in form.hidden_fields %}
            {{ hidden }}
        {% endfor %}
        {% for field in form.visible_fields %}
            {% include "loads/partials/_form_field.html" %}
        {% endfor %}
        <div class="row mt-4 mb-2">
            <div class="col-12">
                <input class="btn btn-primary" type="submit" value="Submit" />
            </div>
        </div>
    </form>
</div>

{% block extra_head %}
    {{ form.media }}
{% endblock %}
{% endblock content %}