{# TODO: Is it possible to pass variables to other templates?             #}
{# In that case, it'd be nice to make the <title></title> contain "Login" #}

{% include 'loads/page_header.html' %}
{% include 'loads/page_header_bare.html' %}

{% block content %}
<main>
    <div class="container-fluid my-5 py-2 px-3 text-center h-100"
         style="margin-top:100px !important;max-width:980px !important;">
        <div class="mx-auto my-5 p-5 d-inline-block xbg-body-tertiary xborder xborder-body-subtle xrounded xrounded-3">
            <div class="card">
                <div class="card-header">
                    <h4 class="pt-2">Login</h4>
                </div>
                <form method="post">
                {% csrf_token %}
                {# Process hidden fields, we don't need to style them #}
                {% for hidden in form.hidden_fields %}
                    {{ hidden }}
                {% endfor %}
                <div class="card-body">
                    <div class="card-text text-start">
                        {# old variant #}
                        {# {{ form.as_p }} #}
                        {# new variant #}
                        {% for field in form.visible_fields %}
                        <div class="mt-4">
                            <label for="{{ field.id_for_label }}"
                                   class="form-label">{{ field.label }}</label>
                            <input type="{{ field.field.widget.input_type }}" class="form-control" id="{{ field.id_for_label }}"
                                   {% for name, value in field.field.widget.attrs.items %}
                                   {% if value is not False %} {{ name }}{% if value is not True %}="{{ value|stringformat:'s' }}"{% endif %}{% endif %}
                                   {% endfor %}
                                   name="{{ field.html_name }}"
                                   {% if not field.field.max_length is None %}
                                   maxlength="{{ field.field.max_length }}"
                                   {% endif %}
                                   value="{% if field.value != None %}{{ field.value|stringformat:'s' }}{% endif %}"{% if field.field.required %} required{% endif %} />
                            {# Show field errors as a list, one per line #}
                            {% if field.errors %}
                                <div class="wam-text-danger small mt-1">
                                    {% for error in field.errors %}
                                    <p>{{ error|escape }}</p>
                                     {% endfor %}
                                </div>
                            {% endif %}
                        </div>
                        {% endfor %}
                        <div class="mt-4 text-center">
                            <button class="btn btn-primary" type="submit">Login</button>
                        </div>
                    </div>
                </div>
                <div class="card-footer small">
                    Please contact <a href="{{ help_url }}">{{ help_name }}</a> for support.
                </div>
                </form>
            </div>
        </div>
    </div>
</main>
{% endblock %}

{% include 'loads/page_footer.html' %}
