{% extends "loads/base_automatic.html" %} {% block content %}
  

{% if combined_list_incomplete %}

<h2>Tasks still outstanding</h2>

    <table border="1">
      <tr>
        <th>Task Name</th><th>Deadline</th><th>Time left</th><th>Status</th><th>Complete</th>
      </tr>
      {% for task, urgent, overdue in combined_list_incomplete %}
      <tr class="{% cycle 'row1' 'row2' %}">
        <th>{{ task.name }}</th>
        <td>{{ task.deadline }}</td>
        <td>{{ task.deadline|timeuntil }}</td>
        {% if overdue %}
        <td class="urgent">Overdue<br />{{ task.deadline|timesince }}</td>
        {% elif urgent %}
        <td class="urgent">Urgent</td>
        {% else %}
        <td>Pending</td>
        {% endif %}
        <td><a href="{% url 'tasks_completion' task_id=task.id staff_id=staff.id %}">Complete</a></td>  
      </tr>      
      {% endfor %}
    </table>
      
{% endif %}
{% if combined_list_complete %}

<h2>Tasks completed</h2>
    <table border="1">
      <tr>
        <th>Task Name</th><th>Deadline</th><th>Time left</th><th>Completed</th>
      </tr>
      {% for task, when in combined_list_complete %}
      <tr class="{% cycle 'row1' 'row2' %}">
        <th>{{ task.name }}</th>
        <td>{{ task.deadline }}</td>
        <td>{{ task.deadline|timeuntil }}</td>
        <td>{{ when }}</th>
      </tr>      
      {% endfor %}
    </table>
{% endif %}
    
<p>{{ staff }} has {{ combined_list_incomplete|length}} outstanding task{{combined_list_incomplete|length|pluralize}}.</p>
    
{% if not combined_list_complete and not combined_list_incomplete %}
    <p>No activities are available for {{ staff }}.</p>
{% endif %}

{% endblock content %}