{% extends "loads/base_automatic.html" %}

{% block content %}

<h3 class="my-3">Tasks still outstanding</h3>

{% if combined_list_incomplete %}
<div class="table-responsive small">
    <table class="table table-sm table-striped table-hover">
        <thead>
            <tr>
                <th class="col-4">Task name</th>
                <th class="col-3">Deadline</th>
                <th class="col-3">Time left</th>
                <th class="col-1">Status</th>
                <th class="col-1 wam-hide-on-print">Complete</th>
            </tr>
        </thead>
        <tbody class="table-group-divider">
            {% for task, urgent, overdue in combined_list_incomplete %}
            <tr>
                <td class="col-4">{{ task.name }}</td>
                <td class="col-3 font-monospace">{{ task.deadline }}&nbsp;</td>
                <td class="col-3">{{ task.deadline|timeuntil }}</td>
                <td class="col-1">
                    {% if overdue %}
                    {{ task.deadline|timesince }} <span class="badge text-bg-danger">Overdue</span>
                    {% elif urgent %}
                    <span class="badge text-bg-warning">Urgent</span>
                    {% else %}
                    Pending
                    {% endif %}
                </td>
                <td class="col-1 wam-hide-on-print">
                    <a class="link-opacity-50-hover link-underline-opacity-50 link-offset-2" href="{% url 'tasks_completion' task_id=task.id staff_id=staff.id %}">
                        Complete
                    </a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
<p class="text-info-emphasis">
    {{ staff }} has {{ combined_list_incomplete|length}} outstanding task{{combined_list_incomplete|length|pluralize}}.
</p>
{% else %}
<p class="mb-4">
    No activities are available for {{ staff }}
</p>
{% endif %}


{% if combined_list_complete %}
<h3 class="mt-5">Tasks completed</h3>
<div class="table-responsive small">
    <table class="table table-sm table-striped table-hover">
        <thead>
            <tr>
                <th class="col-4">Task name</th>
                <th class="col-3">Deadline</th>
                <th class="col-3">Time left</th>
                <th class="col-2">Completed</th>
            </tr>
        </thead>
        <tbody class="table-group-divider">
            {% for task, when in combined_list_complete %}
            <tr>
                <td class="col-4">{{ task.name }}</td>
                <td class="col-3 font-monospace">{{ task.deadline }}&nbsp;</td>
                <td class="col-3">{{ task.deadline|timeuntil }}</td>
                <td class="col-2">{{ task.when }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endif %}


{% if not combined_list_complete and not combined_list_incomplete %}
<p class="h4 my-3">
    No activities are available for {{ staff }}
</p>
{% endif %}


{% endblock content %}